<!DOCTYPE html>
<html>
<head>
    <title>Instruktorite loend</title>
</head>
<body>
    <h1>Instruktorite loend</h1>

    <table>
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Tegevused</th>
            </tr>
        </thead>
        <tbody>
            @foreach ($instructors as $instructor)
                <tr>
                    <td>{{ $instructor->name }}</td>
                    <td>{{ $instructor->email }}</td>
                    <td>{{ $instructor->phone }}</td>
                    <td>
                        <a href="{{ route('instructors.show', ['id' => $instructor->id]) }}">Vaata</a>
                        <a href="{{ route('instructors.edit', ['id' => $instructor->id]) }}">Muuda</a>
                        <a href="{{ route('instructors.delete', ['id' => $instructor->id]) }}">Kustuta</a>
                    </td>
                </tr>
            @endforeach
        </tbody>
    </table>
</body>
</html>
